<% if  Vote.exists?(user: current_user, course: course) && Vote.find_by(user: current_user).vote_type.equal?(-1) %>
            
            <%= form_for course.votes.build, url: course_vote_path(course, Vote.find_by(user: current_user).id), method: :patch do |f| %>
              <%= f.hidden_field :vote_type, value: 1 %>
              <%= f.submit 'Upvote', class: 'btn btn-default' %>
            <% end %>

        <% elsif Vote.exists?(user: current_user, course: course) && Vote.find_by(user: current_user).vote_type.equal?(1) %>
            <%= form_for course.votes.build, url: course_vote_path(course, Vote.find_by(user: current_user).id), method: :delete do |f| %>
            <%= f.submit "Upvote", class: 'btn btn-default' %>
            <% end %>
        <% else %>
            <%= form_for course.votes.build, url: course_votes_path(course) do |f| %>
              <% if current_user.present? %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
              <% else %>
                    <%= f.hidden_field :user_id, value: nil %> 
              <% end %>
              <%= f.hidden_field :vote_type, value: 1 %>
              <%= f.submit 'Upvote', class: 'btn btn-default' %>
            <% end %>
        <% end %>
    
    <h2> Score: <%= course.score %> </h2>
        <% if  Vote.exists?(user: current_user, course: course) && Vote.find_by(user: current_user).vote_type.equal?(1) %>
            
            <%= form_for course.votes.build, url: course_vote_path(course, Vote.find_by(user: current_user).id), method: :patch do |f| %>
              <%= f.hidden_field :vote_type, value: -1 %>
              <%= f.submit 'Downvote', class: 'btn btn-default' %>
            <% end %>

        <% elsif Vote.exists?(user: current_user, course: course) && Vote.find_by(user: current_user).vote_type.equal?(-1) %>
            <%= form_for course.votes.build, url: course_vote_path(course, Vote.find_by(user: current_user).id), method: :delete do |f| %>
            <%= f.submit "Downvote", class: 'btn btn-default' %>
            <% end %>
        
        <% else %>
            <%= form_for course.votes.build, url: course_votes_path(course) do |f| %>
              <% if current_user.present? %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
              <% else %>
                    <%= f.hidden_field :user_id, value: nil %> 
              <% end %>
              <%= f.hidden_field :vote_type, value: -1 %>
              <%= f.submit 'Downvote', class: 'btn btn-default' %>
            <% end %>
        <% end %>
