<% provide(:title, "Edit Course") %>
<h1>Update your course</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@course) do |f| %>
      <%= render 'shared/course_error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :prerequisite %>
      <%= f.text_field :prerequisite, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

    <div class="field">
      <%= f.label :category %>
      <% (Category.all).each do |cat| %>
        <div class="category">
          <%= cat.category %>
          <%= f.radio_button :category_id, cat.id %>
        </div>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :location %>
      <%= f.collection_check_boxes :location_ids, Location.all, :id, :location do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>

    <%= f.file_field :picture %>

    <% hidden_field_tag :user, current_user %>

    <%= f.submit "Save changes", class: "btn btn-primary" %>
        
    <% end %>

  </div>
</div>

