<% provide(:title, 'All courses') %>
<div>
<h1>All courses</h1>

<div>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#courseTab">Courses</a></li>
    <li><a data-toggle="tab" href="#coordinatorTab">Coordinators</a></li>
  </ul>

<div class="tab-content">
  <div id="courseTab" class="tab-pane fade in active">
<ul class="courses">
  <% @courses.each do |course| %>
    
    <div class="row">
	  <aside class="col-md-4">
	    <section class="course_info">
	      <h1>
		<%= gravatar_course @user %>
        <% unless course.user_id.nil? %>
		    <%= course.user.name %>
        <% end %>
	      </h1>
	    </section>
	  </aside>

	<h1>         
	  <%= course.name %>
 	</h1>
	<h2>
	  <%= course.category.category %> 
          <% course.locations.each do |location|  %>
            <%= location.location %>
          <% end %>
          <%= course.created_at %>
	</h2>
    </div>

  <% end %>
</ul>
  </div>

  <div id="coordinatorTab" class="tab-pane fade">
      <ul class="coordinators">
        <% @users.each do |user| %>
	  <div class="row">
	    <section class="user_info">
	      <h1>
		<%= gravatar_course @user %>
		<%= user.name %>
	      </h1>
	    </section>
	  </div>
        <% end %>
      </ul>
  </div>
</div>

</div>



<%# <h1>
      <%= link_to course.name, course %>
    </h1>
    <h2>
      <%# course.category %>
    </h2>
    <h2>
      <%# course.location %>
    </h2>
    <h2>
      <%# course.created_at %>
</div>

