<% provide(:title, 'All courses') %>
<h1>All courses</h1>

<div>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#courseTab">Courses</a></li>
    <li><a data-toggle="tab" href="#coordinatorTab">Coordinators</a></li>
  </ul>

<div class="tab-content">
  <div id="courseTab" class="tab-pane fade in active">
<ul class="courses">
  <% @courses.each do |course| %>
    
    <div class="row">
	  <aside class="col-md-4">
	    <section class="course_info">
	      <h1>
		<%= gravatar_course @course %>
		<%= @course %>
	      </h1>
	    </section>
	  </aside>

	<h1>         
	  <%= course.name %>
 	</h1>
	<h2>
	  <%= course.category.category %> 
          <%= course.locations %> 
          <%= course.created_at %>
	</h2>
    </div>

  <% end %>
</ul>
  </div>

  <div id="coordinatorTab" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>

</div>

