<% provide(:title, 'All courses') %>
<div>
<h1>All courses</h1>

<div>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#courseTab">Courses</a></li>
    <li><a data-toggle="tab" href="#coordinatorTab">Coordinators</a></li>
  </ul>

<div class="tab-content">
  <div id="courseTab" class="tab-pane fade in active">
<ul class="courses">
  <% @courses.each do |course| %>
    
    <div class="row">
	  <div class="col-md-2">
	    
	      <h4>
		<%= gravatar_course course.user %>
		Coordinator:  <%= link_to course.user.name, course.user %>
	      </h4>
	    
	  </div>
	
          <div class="col-md-6">
	<h1>         
	  <%= link_to course.name, course %>
 	</h1>


	<h2>Category: <% course.categories.each do |category|  %>
            <%= link_to category.category, courses_path(:category => category.category) %>
          <% end %></h2> 

    <h2> Locations: <% course.locations.each do |location|  %>
            <%= link_to location.location, courses_path(:location => location.location) %>
          <% end %>
    </h2> 

    <h2> Creation Date: <%= course.created_at %></h2>
	
        <% if  Vote.exists?(user: current_user, course: course) && Vote.find_by(user: current_user).vote_type.equal?(-1) %>
            
            <%= form_for course.votes.build, url: course_vote_path(course, Vote.find_by(user: current_user).id), method: :patch do |f| %>
              <%= f.hidden_field :vote_type, value: 1 %>
              <%= f.submit 'Upvote', class: 'btn btn-secondary btn-sm' %>
            <% end %>

        <% elsif Vote.exists?(user: current_user, course: course) && Vote.find_by(user: current_user).vote_type.equal?(1) %>
            <%= form_for course.votes.build, url: course_vote_path(course, Vote.find_by(user: current_user).id), method: :delete do |f| %>
            <%= f.submit "Upvote", class: 'btn btn-secondary btn-sm' %>
            <% end %>
        <% else %>
            <%= form_for course.votes.build, url: course_votes_path(course) do |f| %>
              <% if current_user.present? %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
              <% else %>
                    <%= f.hidden_field :user_id, value: nil %> 
              <% end %>
              <%= f.hidden_field :vote_type, value: 1 %>
              <%= f.submit 'Upvote', class: 'btn btn-secondary btn-sm' %>
            <% end %>
        <% end %>
    
     <h5> <%= course.score %> </h5>
        <% if  Vote.exists?(user: current_user, course: course) && Vote.find_by(user: current_user).vote_type.equal?(1) %>
            
            <%= form_for course.votes.build, url: course_vote_path(course, Vote.find_by(user: current_user).id), method: :patch do |f| %>
              <%= f.hidden_field :vote_type, value: -1 %>
              <%= f.submit 'Downvote', class: 'btn btn-secondary btn-sm' %>
            <% end %>

        <% elsif Vote.exists?(user: current_user, course: course) && Vote.find_by(user: current_user).vote_type.equal?(-1) %>
            <%= form_for course.votes.build, url: course_vote_path(course, Vote.find_by(user: current_user).id), method: :delete do |f| %>
            <%= f.submit "Downvote", class: 'btn btn-secondary btn-sm' %>
            <% end %>
        
        <% else %>
            <%= form_for course.votes.build, url: course_votes_path(course) do |f| %>
              <% if current_user.present? %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
              <% else %>
                    <%= f.hidden_field :user_id, value: nil %> 
              <% end %>
              <%= f.hidden_field :vote_type, value: -1 %>
              <%= f.submit 'Downvote', class: 'btn btn-secondary btn-sm' %>
            <% end %>
        <% end %>
    
    


          </div>
    </div>

  <% end %>
</ul>
  </div>

  <div id="coordinatorTab" class="tab-pane fade">
      <ul class="coordinators">
        <% @users.each do |user| %>
	  <div class="row">
	    <section class="user_info">
	      <h1>
		<%= gravatar_course @user %>
		<%= link_to user.name, user %>
	      </h1>
	    </section>
	  </div>
        <% end %>
      </ul>
  </div>
</div>

</div>



<%# <h1>
      <%= link_to course.name, course %>
    </h1>
    <h2>
      <%# course.category %>
    </h2>
    <h2>
      <%# course.location %>
    </h2>
    <h2>
      <%# course.created_at %>
</div>

